.wrapper {
  height: 1.2em;
  /*Line height ensures the row that scrolls up aligns with the rest of the text*/
  line-height: 1.2;
  display: flex;
  justify-content: center;
}

.column {
  float: left;
  /*prevents effect from showing text below main line and covering ") as effect shifts right... putting this in .wrapper alone only covers text from below.*/
  overflow: hidden;
}

.marginless {
  margin: 0;
}

.dynamic-hw-text {
  list-style-type: none;
  padding: 0px;
  position: relative;
  /*Corrects the HW text from starting in middle of column at top: 0;*/
  top: -83%;
  height: 100%;
  line-height: 1.2;
  z-index: -1;
  animation: hw-text-scroll-up 4.5s steps(3) infinite;
}

.dynamic-hw-text li span::after {
  /*Content must contain empty quotes*/
  content: "";
  position: absolute;
  left: 0;
  /*This height is >100 to hide tail of "j" in animation*/
  height: 104%;
  width: 100%;
  border-left: 2px solid;
  background-color: white;
  animation: typing 1.5s steps(16) infinite;
}

.dynamic-hw-text li span {
  /*Position:relative ensures the cursor is unique to each line*/
  position: relative;
}

.closing-par {
  position: absolute;
  z-index: 1;
  /*0.75s needed for one slide from no text to full pozdrav svijete!*/
  animation: 4.5s ease-in infinite paren-slide;

}


/*Animations*/

@keyframes typing {

  50%,
  60% {
    left: 100%;
  }

  100% {
    left: 0;
  }

}

@keyframes hw-text-scroll-up {
  100% {
    top: -4.58em;
  }
}

@keyframes paren-slide {

  /*Basic math is 100/6, then some modifications to get timing right. Added delays at the midpoint of each cycle.*/
  /*EN*/
  0% {
    /*-900% is starting offset beside opening parenthesis.*/
    transform: translateX(-880%);
    animation-timing-function: steps(13);
  }

  16% {
    transform: translateX(-118%);
  }

  20.25% {
    transform: translateX(-118%);
    animation-timing-function: steps(9), ease-out;
  }

  /*Extra waypoint to try to slow down animation which seems to speed up on end of EN cycle*/
  28% {
    transform: translateX(-575%);
    animation-timing-function: steps(4), ease-in-out;
  }


  /*DE*/
  32% {
    transform: translateX(-880%);
    animation-timing-function: steps(12);
  }

  49.98% {
    transform: translateX(-230%);
  }

  53% {
    transform: translateX(-230%);
    animation-timing-function: steps(12);
  }

  /*HR*/
  66.64% {
    transform: translateX(-880%);
    animation-timing-function: steps(16), ease-out;
  }

  83.3% {
    transform: translateX(0);
  }

  87% {
    transform: translateX(0);
    animation-timing-function: steps(16);
  }

  100% {
    transform: translateX(-880%);
  }
}